body{
    margin: 0;
    height: 100vh;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    text-align: center;
    position: absolute;
    top: 5px;
    width: 100%;
}

.calculator{
    width: 300px;
    background-color: rgb(198, 196, 212);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.display{
    text-align: right;
    height: 20px;
    font-size: 20px;
    padding: 24px;
    margin-bottom: 10px;
    overflow: auto;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 5px;

}
button{
    height: 50px;
    width: 70px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(132, 131, 131);
    color: white;
}